.posts {
    a {
        display: block;
        & + a {
            margin-top: 2rem;
            padding-top: 2rem;
        }
    }
    strong {
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 2.125rem;
        text-align: justify;
        color: var(--heading);
        transition: color 0.2s;
        &:hover {
            color: var(--highlight);
        }
    }
    p {
        color: var(--body);
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: justify;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
    time {
        color: var(--info);
        margin-left: 0.3rem;
        margin-right: 1rem;
    }
    span {
        margin-left: 0.3rem;
        color: var(--info);
        font-size: 0.9rem;
        line-height: 1rem;
    }
    button {
        width: 176px;
        height: 22px;
        background: var(--background);
        color: var(--highlight);
        border: 0;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: justify;
        margin: 64px 0;
    }
}