.banner {
  width: 100%;
  height: 400px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.625rem;
    letter-spacing: -0.5px;
    padding-bottom: 24px;
  }

  .info {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;

    time {
      margin-left: 0.5rem;
      margin-right: 1.5rem;
      color: var(--info);
    }
    span {
      line-height: 100%;
      margin-left: 0.5rem;
      margin-right: 1.5rem;
      color: var(--info);
    }
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--heading);

    h3 {
      font-size: 2.25rem;
      line-height: 3rem;
      margin: 64px 0 0;
      color: var(--heading);
    }

    p {
      margin: 1.5rem 0;
      color: var(--body);
    }
  }
}
